@model YarnsAndMobileRCOnlineBookStore.Controllers.PaginatedList<YarnsAndMobileRCOnlineBookStore.Models.Book>
@using PagedList.Mvc;
@using Microsoft.AspNetCore.Identity
@using YarnsAndMobileRCOnlineBookStore.Models.Data
@inject SignInManager<Member> SignInManager
@inject UserManager<Member> UserManager

@{
    ViewData["Title"] = "Book Index";
}

@{
    var adminOnly = !SignInManager.IsSignedIn(User) || !User.IsInRole("Admin") ? "invisible" : "";
    var adminDisable = User.IsInRole("Admin") ? "disabled" : "";
}
<p></p>
<h1>Book Index</h1>

<p>
    <a class="@adminOnly" asp-action="Create">Create New</a>
</p>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p class="text-dark h5 text-center">
            Find by Title or Name: 
            <input type="text" class="w-50" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" />
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>
<table class="table  table-hover">
    <thead>
        <tr class="table-info">
            <th scope="col">
                ISBN
            </th>
            <th scope="col">
                @Html.ActionLink("Title", "Index", new { sortOrder = ViewBag.TitleSort, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th scope="col">
                @Html.ActionLink("AuthorFirstName", "Index", new { sortOrder = ViewBag.FirstNameSort, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th scope="col">
                @Html.ActionLink("AuthorLastName", "Index", new { sortOrder = ViewBag.LastNameSort, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th scope="col">
                @Html.ActionLink("CopyrightYear", "Index", new { sortOrder = ViewBag.CopyrightYearSort, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th scope="col">
                Sale Price
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr class="ttable-active">
            <td>
                @Html.DisplayFor(modelItem => item.ISBN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.AuthorFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AuthorLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CopyrightYear)
            </td>
            <td>
                $@Html.DisplayFor(modelItem => item.SalePrice)
            </td>
            <td>
                <a class="@adminOnly" asp-action="Edit" asp-route-id="@item.BookId">Edit |</a>
                <a class="@adminOnly" asp-action="Delete" asp-route-id="@item.BookId">Delete |</a>
                <a asp-action="Details" asp-route-id="@item.BookId">Details |</a>
                <a asp-action="Review" asp-route-id="@item.BookId">Review |</a>
                <a @adminDisable asp-action="Create" asp-controller="Sales" asp-route-id="@item.BookId">Buy</a>
            </td>
        </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<div>
    <ul class="pagination">
        <li class="page-item @prevDisabled">
            <a asp-action="Index"
               asp-route-sortOrder="@ViewData["CurrentSort"]"
               asp-route-pageNumber="1"
               asp-route-currentFilter="@ViewData["CurrentFilter"]"
               class="page-link ">
                First
            </a>
        </li>
        <li class="page-item @prevDisabled">
            <a asp-action="Index"
               asp-route-sortOrder="@ViewData["CurrentSort"]"
               asp-route-pageNumber="@(Model.PageIndex - 1)"
               asp-route-currentFilter="@ViewData["CurrentFilter"]"
               class="page-link ">
                Previous
            </a>
        </li>
        @if (Model.TotalPages > 0)
        {
            int pageNum;
            int pageLimit = 10;
            if (Model.TotalPages > pageLimit)
                pageLimit = 10;
            else
                pageLimit = Model.TotalPages;

        @for (int i = 0; i < pageLimit; i++)
            {
                pageNum = Model.PageIndex + i;
                var currentIndex = Model.PageIndex == pageNum ? "active" : "";
                if (pageNum <= Model.TotalPages)
                {
        <li class="page-item @(currentIndex)">
            <a asp-action="Index"
               asp-route-sortOrder="@ViewData["CurrentSort"]"
               asp-route-pageNumber="@(pageNum)"
               asp-route-currentFilter="@ViewData["CurrentFilter"]"
               class="page-link">@(pageNum)</a>
        </li>
                }
            }
        }
        <li class="page-item @nextDisabled">
            <a asp-action="Index"
               asp-route-sortOrder="@ViewData["CurrentSort"]"
               asp-route-pageNumber="@(Model.PageIndex + 1)"
               asp-route-currentFilter="@ViewData["CurrentFilter"]"
               class="page-link ">
                Next
            </a>
        </li>
        <li class="page-item @nextDisabled">
            <a asp-action="Index"
               asp-route-sortOrder="@ViewData["CurrentSort"]"
               asp-route-pageNumber="@(Model.TotalPages)"
               asp-route-currentFilter="@ViewData["CurrentFilter"]"
               class="page-link ">
                Last
            </a>
        </li>
    </ul>
</div>

<div id="container" style="margin-left: 20px">
    <p></p>
    <p></p>
    <div class="pagination" style="margin-left: 400px">
        Page @(Model.PageIndex < Model.TotalPages ? Model.PageIndex : 1) of @Model.TotalPages

    </div>
</div>



<br />
<p></p>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}